<!DOCTYPE html>
<html>
<head>
<title>How to protect yourself and your house from a flood</title>
<link rel="stylesheet" href="/static/dropdown.css">
<ul>
  <li><a href="{{ url_for('main') }}">Home</a></li>
  <li><a href="{{ url_for('firstaid') }}">First Aid</a></li>
	<li class="dropdown">
    <a href="javascript:void(0)" class="dropbtn">Flood</a>
    <div class="dropdown-content">
	<a href="{{ url_for('protectfromflood') }}">Protection from Flood</a>
	<a href="{{ url_for('animals') }}">Animals</a>
  <li class="dropdown">
    <a href="javascript:void(0)" class="dropbtn">Wildfire</a>
    <div class="dropdown-content">
		<a href="{{ url_for('outside') }}">Outside</a>
		<a href="{{ url_for('buildingonfire') }}">If a Building is on Fire</a>
		<a href="{{ url_for('fireplan') }}">Fire Plan</a>
    </div>
  </li>
</ul>
</head>
<body>
<h2>How to protect yourself and your house from a flood:</h2>
<ul style="list-style-type:square">
	<li>Board up windows</li>
	<li>All circuit breakers, switches, sockets, etc. should be a foot above water</li> 
	<li>Anchor or disassemble outdoor equipment</li>
	<li>Clear gutters, downspouts, and drains</li>
	<li>Shut off electricity</li>
	<li>Never drive on flooded roads</li>
	<li>Drive slowly and steadily</li>
	<li>Don’t drive over bridges over fast moving water unless absolutely necessary</li>
	<li>Watch out for downed power lines</li>
	<li>Check with your local council about local flood plans or records which detail problem areas</li>
	<li>Ask authorities about relocation routes and centers</li>
	<li>If your area is flood prone, consider alternatives to carpets</li>
	<li>Prepare an emergency kit</li>
	<li>Prepare a household flood plan</li>
	<li>Keep a list of emergency telephone numbers on display,</li>
	<li>Check your insurance policy to see if you are covered for flood damage</li>
	<li>Secure hazardous items</li>
	<li>Roll up rugs, move furniture, electrical items and valuables to a higher level</li>
	<li>Place important personal documents, valuables and vital medical supplies into a waterproof case in an accessible location</li>
	<li>If you are relocating, take your pets with you if it is safe to do so. If not provide adequate food and water and move them to a safer place</li>
	<li>Monitor Bureau of Meteorology (BoM) forecasts and warnings online and listen to your local ABC Radio</li>
	<li>If rising waters threaten your home and you decide to move to a safer location, tell the police, your nearest State Emergency Service (SES) unit or your neighbors of your plans to move")
	<li>Monitor your local radio for warnings and advice</li>
	<li>Pack warm clothing, essential medication, valuables and personal papers in waterproof bags along with your emergency kit</li>
	<li>Raise furniture, clothing and valuables onto beds, tables and into roof space place electrical items in the highest place</li>
	<li>Empty freezers and refrigerators, leaving doors open to avoid damage or loss if they float</li>
	<li>Turn off power, water and gas and take your mobile phone</li>
	<li>Whether you leave or stay, put sand bags in the toilet bowl and over all laundry/bathroom drain holes to prevent sewage backflow</li>
	<li>Lock your home and take recommended relocation routes for your area</li>
	<li>Do not drive into water of unknown depth and current</li>
	<li>Monitor your local radio for warnings and advice</li>
	<li>Get to higher ground</li>
	<li>Switch off electricity and gas supplies to your home</li>
	<li>Prepare to move vehicles, outdoor equipment, garbage, chemical and poisons to higher locations</li>
	<li>Prepare for the well-being of pets</li>
	<li>Raise furniture above likely flood levels</li>
	<li>Check your emergency kit</li>
	<li>Do not allow children to play in or near floodwaters</li>
	<li>Avoid entering floodwaters. If you must do so, wear solid shoes and check depth and current with a stick</li>
	<li>Stay away from drains, culverts and water over knee deep</li>
	<li>Do not use gas or electrical appliances that have been in floodwater until checked for safety</li>
	<li>Do not eat food that has been in floodwaters</li>
	<li>Boil tap water until supplies have been declared safe<li>
	<li>Secure hazardous items</li>
	<li>Roll up rugs, move furniture, electrical items and valuables to a higher level</li>
	<li>Place important personal documents, valuables and vital medical supplies into a waterproof case in an accessible location</li>
	<li>If you are relocating, take your pets with you if it is safe to do so. If not provide adequate food and water and move them to a safer place</li>
	<li>Monitor Bureau of Meteorology (BoM) forecasts and warnings online and listen to your local ABC Radio</li>
	<li>If rising waters threaten your home and you decide to move to a safer location</li>
	<li>Tell the police, your nearest State Emergency Service (SES) unit or your neighbors of your plans to move</li>
</body>
</html>